@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-h-black: #1C1B21;
  --color-purple: #304DE5;
  --color-light-purple: #B7BFEA;
  --color-gray: #706E7E;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.section-padding {
  padding: 6.25rem 0;
}

.margin-top {
  margin-top: 1.875rem;
}

.margin-bottom {
  margin-bottom: 1.25rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1, h2, h4 {
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
}
@media (max-width: 1260px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.875rem;
}
@media (max-width: 1260px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.375rem;
  font-weight: 300;
}
@media (max-width: 1260px) {
  h3 {
    font-size: 1.1rem;
  }
}

h4 {
  font-size: 1.25rem;
}
@media (max-width: 1260px) {
  h4 {
    font-size: 1rem;
  }
}

.p-section {
  font-size: 1.0625em;
}

/*** Header ***/
.c-header-section {
  height: 91px;
}
@media (max-width: 1400px) {
  .c-header-section {
    height: 200px;
  }
}

@media (max-width: 1400px) {
  .c-nav__header {
    flex-direction: column;
  }
}

.c-nav {
  margin: 2.1rem 0;
}
@media (max-width: 1400px) {
  .c-nav {
    justify-content: space-between;
  }
}
.c-nav .c-nav__logo {
  margin: 5px 112px 0 0;
}
@media (max-width: 1400px) {
  .c-nav .c-nav__logo {
    margin-top: 60px;
  }
}
.c-nav .c-nav__links a {
  margin-right: 50px;
  padding: 2.05rem 0;
}
.c-nav .c-nav__links a:last-child {
  margin-right: 0;
}
.c-nav .c-nav__links a:hover {
  color: #697ddf;
}

@media (max-width: 1400px) {
  .c-header__icons {
    justify-content: flex-end;
    margin-top: -60px;
  }
}
.c-header__icons .c-header-icons__group {
  margin: 1.8rem 0;
}
.c-header__icons .c-header-icons__group svg {
  margin-right: 30px;
}
.c-header__icons .c-header-icons__group .c-user-icon {
  margin-right: 10px;
  background-color: var(--color-purple);
  padding: 11px;
  border-radius: 50%;
}
.c-header__icons .c-menu-icon {
  margin: 2.5rem 3.125rem 0 0;
  width: 27px;
  height: 15px;
}
.c-header__icons button {
  font-size: 1.125rem;
  height: 91px;
}

.icon {
  display: inline-block;
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}

.icon--sm {
  width: 1rem;
  height: 1rem;
}

.icon--md {
  width: 1.38rem;
  height: 1.38rem;
}

.icon--lg {
  width: 3rem;
  height: 3rem;
}

.icon--white {
  color: var(--color-white);
}

.icon--white-border {
  border: 1px solid var(--color-white);
  padding: 9px;
}

.icon--white-bkg {
  background-color: var(--color-white);
}

.icon--purple {
  color: var(--color-purple);
}

.icon--purple-border {
  border: 1px solid var(--color-purple);
  padding: 9px;
}

.icon--purple-border-2 {
  border: 2px solid var(--color-purple);
  padding: 19px;
}

.icon--border {
  border-radius: 50%;
}

/*** Hero Section ***/
.c-hero-section {
  height: 859px;
}

.c-grid {
  display: grid;
}

.c-grid--three {
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 1100px) {
  .c-grid--three {
    grid-template-columns: 1fr;
  }
}

.c-grid--gap {
  grid-gap: 2rem;
}

.u-container {
  max-width: 96.875rem;
  margin: 0 auto;
}

.u-px {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-color--white {
  color: var(--color-white);
}

.u-color--purple {
  color: var(--color-purple);
}

.u-color--light-purple {
  color: var(--color-light-purple);
}

.u-color--gray {
  color: var(--color-gray);
}

.u-color--h-black {
  color: var(--color-h-black);
}

.c-btn {
  display: block;
  border: none;
  padding: 14px 30px 13px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.c-btn--scale {
  background-color: var(--color-purple);
  color: var(--color-white);
  transition: 0.2s;
}
.c-btn--scale:hover {
  transform: scale(0.8);
}

.c-btn--purple {
  color: var(--color-white);
  background-color: var(--color-purple);
}
.c-btn--purple:hover {
  color: var(--color-purple);
  background-color: var(--color-white);
  border: 1px solid var(--color-purple);
}

.c-btn--white {
  color: var(--color-purple);
}
.c-btn--white:hover {
  color: var(--color-white);
  background-color: var(--color-purple);
  border: 1px solid var(--color-white);
}

/*** Hero Section ***/
.c-hero-slick__slide {
  display: block;
}
.c-hero-slick__slide .c-hero-img,
.c-hero-slick__slide .c-hero-overlay {
  height: 859px;
}
.c-hero-slick__slide .c-hero-overlay {
  position: absolute;
  top: 0;
  background: rgba(28, 27, 33, 0.7);
  background-blend-mode: multiply;
}
.c-hero-slick__slide .c-hero-slick__content {
  position: absolute;
  top: 0;
  left: 0;
}

.c-hero-slick__text-box {
  top: 13.5rem;
  width: 486px;
}
@media (max-width: 1190px) {
  .c-hero-slick__text-box {
    width: 400px;
  }
}
.c-hero-slick__text-box h1 {
  margin-bottom: 20px;
}
.c-hero-slick__text-box p {
  font-size: 1.0625rem;
  margin-bottom: 30px;
}
.c-hero-slick__text-box svg {
  margin-right: 10px;
}

.c-hero-slick__img-box {
  top: -10rem;
  left: 50rem;
  width: 759px;
  height: 570px;
  background-color: var(--color-white);
}
@media (max-width: 1650px) {
  .c-hero-slick__img-box {
    left: 39rem;
  }
}
@media (max-width: 1440px) {
  .c-hero-slick__img-box {
    left: 41rem;
    width: 659px;
  }
}
@media (max-width: 1350px) {
  .c-hero-slick__img-box {
    width: 600px;
  }
}
@media (max-width: 1300px) {
  .c-hero-slick__img-box {
    left: 39rem;
    width: 580px;
  }
}
@media (max-width: 1250px) {
  .c-hero-slick__img-box {
    left: 37rem;
    width: 550px;
  }
}
@media (max-width: 1190px) {
  .c-hero-slick__img-box {
    left: 34rem;
    width: 520px;
  }
}
@media (max-width: 1115px) {
  .c-hero-slick__img-box {
    left: 33rem;
    width: 500px;
  }
}
@media (max-width: 1115px) {
  .c-hero-slick__img-box {
    width: 460px;
  }
}
.c-hero-slick__img-box .hero-slick-logo {
  position: absolute;
  right: 0;
  width: 570px;
  height: 167px;
}
.c-hero-slick__img-box .hero-slick-window {
  position: absolute;
  top: 5rem;
  right: 23rem;
}
@media (max-width: 1350px) {
  .c-hero-slick__img-box .hero-slick-window {
    width: 70%;
    right: 21rem;
  }
}
@media (max-width: 1250px) {
  .c-hero-slick__img-box .hero-slick-window {
    width: 60%;
  }
}
.c-hero-slick__img-box .c-hero-slick__img-text {
  position: absolute;
  top: 17rem;
  right: 2.5rem;
  max-width: 327px;
}
@media (max-width: 1350px) {
  .c-hero-slick__img-box .c-hero-slick__img-text {
    right: 4.5rem;
  }
}
.c-hero-slick__img-box .c-hero-slick__img-text h3 {
  font-size: 1.375rem;
}
.c-hero-slick__img-box .c-hero-slick__img-text h3:first-of-type {
  margin-bottom: 10px;
}
.c-hero-slick__img-box .c-hero-slick__img-text p {
  font-size: 1.0625rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.c-slick-slider__arrow {
  position: absolute;
  top: 18.2rem;
  left: 0;
}
.c-slick-slider__arrow .prevArrow {
  margin-right: 10px;
}

.c-hero-slick__links {
  position: absolute;
  bottom: -1.5rem;
}
@media (max-width: 1650px) {
  .c-hero-slick__links {
    right: 13%;
  }
}
@media (max-width: 1600px) {
  .c-hero-slick__links {
    right: 10%;
  }
}
@media (max-width: 1500px) {
  .c-hero-slick__links {
    right: 9%;
  }
}
@media (max-width: 1500px) {
  .c-hero-slick__links {
    right: 7%;
  }
}
@media (max-width: 1380px) {
  .c-hero-slick__links {
    right: 5%;
  }
}
@media (max-width: 1330px) {
  .c-hero-slick__links {
    right: 9%;
  }
}
@media (max-width: 1260px) {
  .c-hero-slick__links {
    right: 7%;
    bottom: -2.3rem;
  }
}
@media (max-width: 1190px) {
  .c-hero-slick__links {
    right: 8%;
  }
}
@media (max-width: 1090px) {
  .c-hero-slick__links {
    right: 9%;
  }
}
.c-hero-slick__links .c-hero-slick__link-group {
  flex-direction: column;
  background-color: var(--color-purple);
  padding: 0 150px 25px 30px;
}
@media (max-width: 1650px) {
  .c-hero-slick__links .c-hero-slick__link-group {
    padding: 0 60px 25px 30px;
  }
}
@media (max-width: 1330px) {
  .c-hero-slick__links .c-hero-slick__link-group {
    padding: 0 20px 25px 30px;
  }
}
@media (max-width: 1090px) {
  .c-hero-slick__links .c-hero-slick__link-group {
    padding: 0 10px 25px 30px;
  }
}
.c-hero-slick__links .c-hero-slick__link-group:last-child {
  padding-right: 30px;
}
.c-hero-slick__links .c-hero-slick__link-group .c-hero {
  bottom: 1rem;
}
.c-hero-slick__links .c-hero-slick__link-group a {
  font-size: 1.375rem;
}
@media (max-width: 1190px) {
  .c-hero-slick__links .c-hero-slick__link-group a {
    font-size: 1.125rem;
  }
}
@media (max-width: 1090px) {
  .c-hero-slick__links .c-hero-slick__link-group a {
    font-size: 1rem;
  }
}
.c-hero-slick__links .c-hero-slick__link-group a svg {
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
