.u-container {
    max-width: 96.875rem;
    margin: 0 auto;
}

.u-px {
    padding-left: 1rem;
    padding-right: 1rem;
}

.u-color--white {
    color: var(--color-white);
}

.u-color--purple {
    color: var(--color-purple);
}

.u-color--light-purple {
    color: var(--color-light-purple);
}

.u-color--gray {
    color: var(--color-gray);
}

.u-color--h-black {
    color: var(--color-h-black);
}