:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-h-black: #1C1B21;
    --color-purple: #304DE5;
    --color-light-purple: #B7BFEA;
    --color-gray: #706E7E;
}

$mobile-xss: 380px;
$mobile-xs: 440px;
$mobile-sm: 768px;
$mobile: 1024px;
$desktop: 1025px;
$desktop-md: 1260px;
$desktop-lg: 1440px;
$desktop-xl: 1680px;


